:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
  --grey: #808080;
  --red: #ff4122;
  --darkgrey: #949494;
  --lightblack: #212121;
  --sage: #728C69;
  --wood: #C19A6B;
  --almond: #EFDECD;
  --woodhighlight: #F5D1A9;
  --darkwood: #7a5230;
  --moneygreen: #598C58;
  --offwhite: #F4F0E0;
  --creambrulee: #c8ac9c;
  --brownyellow: #af9665;
  --orange: #e27602;
}

body {
    margin: 0px;
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}

.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {   
  --bg: var(--lightblack);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--black); 
}

.light-switch {
  position: absolute;
  top: 20px;
  left: 1350px;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.incrementBtn {
  position: absolute;
  top: 120px;
  left: 250px;
  height: 25px;
  width: 80px;
  border-radius: 12px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.decrementBtn {
  position: absolute;
  top: 150px;
  left: 250px;
  height: 25px;
  width: 80px;
  border-radius: 12px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.resetBtn {
  position: absolute;
  top: 180px;
  left: 250px;
  height: 25px;
  width: 80px;
  border-radius: 12px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.textarea {
  position: absolute;
  width: 85%;
  height: 30px;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.submitBtn {
  position: absolute;
  right: 30px;
  height: 30px;
  width: 80px;
  border-radius: 12px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

#todoListInputBoxContainer {
  position: absolute;
  left: 30px;
  height: 30px;
  width: 800px;
}

.liContainer {
  position: relative;
  width: 675px;
  height: 31px;
  background-color: var(--grey);
  border-radius: 6px;
  display: inline-block;
}

#wholeGameContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--sage);
  font-family: Silkscreen;
  display: inline-block;
  user-drag: none;
  padding: 0px;
  margin: 0px;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.upgradeContainer {
  position: absolute;
  bottom: 0px;
  width: 100%  ;
  height: 90%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px; 
  display: inline-block;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

#slowFlowerImg {
  position: absolute;
  width: 50%;
  z-index: -1;
}

#hibiscusUpgradeText {
  position: absolute;
  color: var(--red);
  font-size: 2vw;
  z-index: 6;
  top: 24%;
}

#orchidUpgradeText {
  position: absolute;
  font-size: 2vw;
  z-index: 6;
  bottom: 14%;
}

#fastFlowerImg {
  bottom: 20%;
  position: absolute;
  width: 50%;
  z-index: -1;
}

#beeUpgradeContainer {
  background-color: var(--wood);
  z-index: 1;
}

#flowerUpgradeContainer {
  background-color: var(--creambrulee);
  z-index: 0;
}

#initialFlowerUpgradeContainer {
  height:100%;
  position:absolute;
  background-color: var(--creambrulee);
  z-index: -1;
}

#clickerUpgradeContainer {
  background-color: var(--grey);
  z-index: 0;
}

.upgradeContainer::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.tabs {
  position: absolute;
  z-index: 1;
  top: 7%;
  height: 3.3%;
  width: 19%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 6px 6px 0px 0px;
  border-radius: 6px 6px 0px 0px; 
  border: none;
  font-family: Silkscreen;
  background-color: var(--wood);
}

.tabText {
  position: relative;
  font-size: 90%;
  top: 0px;
  color: var(--white);
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

#flowerTab {
  left: 20%;
  background-color: var(--creambrulee);
}

#clickerTab {
  left: 40%;
  background-color: var(--grey);
}

#rightContainer {
  position: absolute;
  max-width: 450px;
  right: 2%;
  width: 28%;
  height: 100%;
  background-color: var(--darkwood);
  border-radius: 6px;
  display: inline-block;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.singleUpgradeContainer {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 68%;
  height: 80px;
  background-color: var(--almond);
  border-radius: 6px;
  display: inline-block;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.singleUpgradeContainer:hover {
  text-decoration: none;
  background-color: var(--woodhighlight);
}

.upgradeCost {
  position: absolute;
  bottom: 0%;
  right: 2%;
  color: var(--moneygreen);
}

#bee0UpgradeText {
  position: absolute;
  top: 0%;
  left: 3%;
  display: inline-block;
  user-drag: none;
  color: var(--lightblack);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: Silkscreen;
  font-weight: 400;
}

#bee1UpgradeText {
  position: absolute;
  top: 0%;
  left: 3%;
  display: inline-block;
  user-drag: none;
  color: var(--lightblack);
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-family: Silkscreen;
  font-weight: 400;
}

#flowerImg {
  height: auto;
  width: 20%;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#bee0 {
  position: absolute;
  top: 15px;
  left: 10px;
  width:20%; /* you can use % */
  opacity: 45%;
  height: auto;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#bee1 {
  position: absolute;
  top: 105px;
  left: 10px;
  width:18%; /* you can use % */
  opacity: 45%;
  height: auto;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#bee0Tooltip {
  position: absolute;
  top: 0%;
  left: 3%;
  visibility: hidden;
  z-index: 30;
  font-family: 'Silkscreen';
  font-weight: 400;
}

#bee1Tooltip {
  position: absolute;
  top: 0%;
  left: 3%;
  visibility: hidden;
  z-index: 30;
  font-family: Silkscreen;
  font-weight: 400;
}

.tooltipContainer {
  position: absolute;
  top: 20%px;
  left: -300px;
  visibility: hidden;
  width: 275px;
  height: 120px;
  background-color: var(--lightblack);
  font-family: Roboto;
  border-radius: 6px;
  display: inline-block;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.beeStatsList {
  position: absolute;
  top: 40%;
  left: -5%;
  font-family: Silkscreen;
  font-weight: 400;
}

#bee0count {
  position: absolute;
  top: 60px;
  left: 70px;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  z-index: 2;
  font-family: Silkscreen;
  font-weight: 600;
}

#bee1count {
  position: absolute;
  top: 152px;
  left: 70px;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  z-index: 2;
  font-family: Silkscreen;
  font-weight: 600;
}

#totalIncome {
  top:10%;
}

#pollenLetters {
  top: 4%;
}

.centeredText {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0px;
  top: 0%;
  z-index: 1;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
  1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.xbutton {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 26px;
  width: 25px;
  border-radius: 8px;
  border: none;
  background-color: var(--red);
}

.todolistText {
  position: absolute;
  font-size: 25px;
  top: 150px;
  left: 0px;
}

#ul div {
  text-decoration: none;
  display: block;
  color: inherit;
  float: left;
}

#ul div:hover {
  text-decoration: none;
  background-color: #658354;
}

.todolistRemoveBtn {
  position: absolute;
  visibility: visible;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.devButtons {
  position: absolute;
  font-size: 70%;
  top: 85%;
  height: 40px;
  width: 80px;
  border-radius: 12px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

#resetPollenButton {
  left: 300px;
}

#resetUpgradesButton {
  left: 400px;
}

#resetBeeCountButton {
  left: 500px;
}

#addPollen {
  left: 600px;
}