:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
  --grey: #808080;
  --red: #ff4122;
  --darkgrey: #949494;
  --lightblack: #212121;
  --sage: #728C69;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

#msg {
  font-family: monospace;
}

.light-theme {
  --bg: var(--white);
  --fontColor: var(--black);
  --btnBg: var(--black);
  --btnFontColor: var(--white);
}

.dark-theme {   
  --bg: var(--lightblack);
  --fontColor: var(--white);
  --btnBg: var(--white);
  --btnFontColor: var(--black); 
}

.light-switch {
  position: absolute;
  top: 20px;
  left: 1350px;
  height: 50px;
  width: 50px;
  border-radius: 12px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.incrementBtn {
  position: absolute;
  top: 120px;
  left: 250px;
  height: 25px;
  width: 80px;
  border-radius: 12px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.decrementBtn {
  position: absolute;
  top: 150px;
  left: 250px;
  height: 25px;
  width: 80px;
  border-radius: 12px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.resetBtn {
  position: absolute;
  top: 180px;
  left: 250px;
  height: 25px;
  width: 80px;
  border-radius: 12px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

.textarea {
  position: absolute;
  width: 85%;
  height: 30px;
  padding: 6px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.submitBtn {
  position: absolute;
  right: 30px;
  height: 30px;
  width: 80px;
  border-radius: 12px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}

#todoListInputBoxContainer {
  position: absolute;
  left: 30px;
  height: 30px;
  width: 800px;
}

.liContainer {
  position: relative;
  width: 675px;
  height: 31px;
  background-color: var(--grey);
  border-radius: 6px;
  display: inline-block;
}

#flowerContainer {
  position: absolute;
  top: 130px;
  left: 50px;
  width: 675px;
  height: 500px;
  background-color: var(--sage);
  border-radius: 6px;
  display: inline-block;
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#flower {
    width:25%; /* you can use % */
    height: auto;
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.xbutton {
  position: absolute;
  top: 2px;
  right: 2px;
  height: 26px;
  width: 25px;
  border-radius: 8px;
  border: none;
  background-color: var(--red);
}

.todolistText {
  position: absolute;
  font-size: 25px;
  top: 150px;
  left: 0px;
}

#ul div {
  text-decoration: none;
  display: block;
  color: inherit;
  float: left;
}

#ul div:hover {
  text-decoration: none;
  background-color: #658354;
}

.todolistRemoveBtn {
  position: absolute;
  visibility: visible;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  border: none;
  color: var(--btnFontColor);
  background-color: var(--btnBg);
}
